version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: education
      POSTGRES_USER: education
      POSTGRES_PASSWORD: education
    ports:
      - "55432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: